body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.App {
  margin: 30px;
}

.map-container {
  width: 100%;
  height: 20rem;
  margin: 1rem auto;
}

.form-container {
  display:flex;
  flex-direction:column;
}

.button {
  color: #4bab98;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  width: 80px;
  text-align: center;
  border: 2px solid #4bab98;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #4bab98;
  opacity: 0.75;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
